@(messages: List[Message])

@main("messages list"){



    <div class="messages">

        <div class="messagesHeader">Redis persisted messages: </div>

        <div class="messageEntry" style="font-weight: bold">
            <div class="messageKey"> key </div>
            <div class="messageValue"> value </div>
        </div>

        @for(message <- messages) {
            <div class="messageEntry">
                <div class="messageKey"> @message.getKey() </div>
                <div class="messageValue"> @message.getValue() </div>
            </div>
            <br style="clear:both"/>
        }

    </div>

    <div class="notification">

    </div>

    <div class="operations">

        <input id="messageTextBox" type="text" style="width: 400px;" value="dummy message"> </input>

        <button id="messageSendButton">Send Message</button>

        <button id="messagesDeleteAllButton">Delete All Messages</button>

    </div>


    <script type="text/javascript" charset="utf-8">


        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var sock = new WS('@routes.Messager.registerSocket().webSocketURL(request)');


            sock.onmessage = function(event) {
                $('.notification').append(event.data+"<br/>");
            }

            $('#messagesDeleteAllButton').click(function() {
                alert("delete all");
                $.ajax({
                    type :  "POST",
                    dataType: 'json',
                    contentType : 'application/json',
                    data: JSON.stringify({}),
                    url  :  "@routes.Messager.deleteAllMessages()",
                    success: function(data){
                    console.log(data);
                    alert(data.message);
                    },
                    error: function(){
                    console.log("something went wrong with the ajax call");
                    }
                });
            });

            $('#messageSendButton').click(function() {

                var value = $('#messageTextBox').val();
                var d = { 'key': value };

                //sock.send("dummyvalue");

                $.ajax({
                    type :  "POST",
                    dataType: 'json',
                    contentType : 'application/json',
                    data: JSON.stringify(d),
                    url  :  "@routes.Messager.postMessage()",
                    success: function(data){
                    console.log(data);
                    //alert(data.status+" - "+data.message);
                    },
                    error: function(){
                    console.log("something went wrong with the ajax call");
                    }
                })
            })
        })


    </script>

}